*{ 
    margin: 0; 
    padding: 0;
} 
 .nav  h3 { 
    margin-left: 10%; 
        color: orange; 
        text-shadow: 2.5px 2.5px brown; 
        font-weight: bolder; 
        font-size: 40px;
} 
.nav li a{ 
    color: black;
}