*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}  
.nav img{ 
width: 50px; 
margin-left: 1.5%;
}
 .nav  h3 { 
    margin-left: 10%; 
        color: orange; 
        text-shadow: 2.5px 2.5px brown; 
        font-weight: bolder; 
        font-size: 40px; 
        font-family: cursive;
} 
.nav li a{ 
    color: black; 
    font-weight: bolder;
}  
.about h2{ 
    font-size: 50px; 
    text-align: center; 
    color: orange; 
    text-shadow: 2px 2px brown; 
    font-weight: bolder;
}  
 p{ 
  margin-left: 2%; 
  margin-right: 1%; 
  color: white; 
  font-size: 17px;
}

    